raw_data/
EDA/
qn-analysis/
results/
venv/
.venv/

.env
.python-version

*.ipynb
*.pptx
*.DS_Store
*Zone*

__pycache__/
*.py[cod]
*.pyc

.ipynb_checkpoints/
checkpoints/
.pytest_cache/

SETUP_GUIDE.txt
TA_WALKTHROUGH.txt
